---
**Understanding the dataset**

The dataset has two columns- value & class
- `value` : <numerical, int>
- `class` : <categorical, int>

each row contains a value that belongs to a class [1, 2 or 3].

In [4]:
import pandas as pd

df = pd.read_csv("./dataset.csv")
df.head()

   length  class
0       1      1
1       2      1
2       2      1
3       4      1
4       4      1

---
Q1. separate this df into three separate dataframes for each class value.

In [5]:
# write your code here

---
Q2. How can you use Logistic Regression to classify given values into more than two classes?

_write your answer here_
...

---
Q3. Use logistic regression to predict the class for a given value.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

# write your code here