---
**Understanding the dataset**

The dataset has 13 columns, namely -
```
- DexNum : index value (not needed)
- Name   : name of the pokemon (not needed)
- HP     : health points (not needed)
- phATk  : physical attack (not needed)
- phDef  : physical defense
- spAtk  : special attack (not needed)
- spDef  : special defense (not needed)
- speed  : speed 
- BST    : base stat total (not needed)
- Type1  : first type
- Type2  : second type
- Abil1  : first ability (not needed)
- Abil2  : second ability (not needed)
```
each row contains a value that belongs to a class [1, 2 or 3].

In [3]:
import pandas as pd

df = pd.read_csv("pokedex.csv")
df.head()

,DexNum,Name,HP,phAtk,phDef,spAtk,spDef,speed,BST,Type1,Type2,Abil1,Abil2
0,1,BULBASAUR,45,49,49,65,65,45,318,GRASS,...,OVERGROW,...
1,2,IVYSAUR,60,62,63,80,80,60,405,GRASS,POISON,OVERGROW,...
2,3,VENUSAUR,80,82,83,100,100,80,525,GRASS,POISON,OVERGROW,...
3,4,CHARMANDER,39,52,43,60,50,65,309,FIRE,...,BLAZE,...
4,5,CHARMELEON,58,64,58,80,65,80,405,FIRE,...,BLAZE,...

---
Q1. Discard all the columns which are not needed

In [ ]:
# write your code here
df.head()

---
Q2. Keep only those rows which are either `Rock` type or `Psychic` type (check both type1 & type2).

In [ ]:
# write your code here
df.head()

---
Q3. Prepare the data for KNN model my converting each row to a Point
- values = [phDef, speed]
- label = {Rock / Psychic} based on the typing of the Pokemon
and your df into a list of Points.

In [ ]:
from KNN_module import Points

# write your code here
points = []

---
Q4. Prepare Split your dataset saving 75% of data for the training and train your KNN model.

In [ ]:
from sklearn.model_selection import train_test_split
from KNN_module import KNN

# write your code here

---
Q5. Evalute the confusion matrix by testing your model against the testing dataset

In [ ]:
import matplotlib.pyplot as plt

# write your code here

---
Q6. Calculate the following using the confusion matrix:
- Accuracy of the model
- Precision for classifying Rock types
- Recall for classifying Rock types
- Precision for classifying Psychic types
- Recall for classifying Psychic types

In [ ]:
# write your code here